body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button.secondary {
    background-color: #ddd;
    color: #333;
}

button:hover {
    background-color: #aaa;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

#sections-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    background-color: #f7f7f7;
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid #ddd;
    width: 50vw;
}

#add-section-button {
    margin-top: 2em;
}

#saved-websites-container {
    margin-top: 4em;
}

#saved-websites-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 0.5em;
    border-bottom: 1px solid #ddd;
}

li:last-child {
    border-bottom: none;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    clear: both;
}