/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  background-color: #333;
  color: #fff;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

header nav ul li {
  margin-right: 20px;
}

header nav ul a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease;
}

header nav ul a:hover {
  color: #ccc;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

main section {
  background-color: #fff;
  padding: 2em;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

main section h1 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

main section p {
  margin-bottom: 20px;
}

#directory-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

#directory-list li {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#directory-list li h2 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

#directory-list li p {
  margin-bottom: 20px;
}

.more-info-btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.more-info-btn:hover {
  background-color: #444;
}

.more-info-container {
  display: none;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #f7f7f7;
}

.more-info-container.show {
  display: block;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  header nav ul {
    flex-direction: column;
    align-items: center;
  }

  header nav ul li {
    margin-right: 10px;
  }

  #directory-list li {
    margin-bottom: 10px;
  }

  main section {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 480px) {
  header {
    padding: 0.5em;
  }

  main section {
    padding: 1em;
  }

  #directory-list li {
    padding: 5px;
  }
}